# Dependencies
node_modules/
package-lock.json

# Environment variables
.env

# Logs
logs/
*.log

# Uploads
uploads/

# Database
*.db
*.sqlite
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo


